*, *:after, *:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a{
  text-decoration: none;
}



/* .checks-container {
  width: 50%!important;

}

.item-container {
  border-bottom: 1px solid black;

}

.item-container:last-child {
  border-bottom: none;
}


.MuiButton-containedSizeSmall {
  padding: 4px 4px !important;
  font-size: 10px !important;
  background-color: #118AB2 !important;
  border-radius: 0px !important;
  font-weight: bold !important;
}

.left-check {
  margin-left: 10px !important;
  margin-top: 10px !important;
}
.right-check {
  text-align: right;
  margin-right: 10px !important;
  margin-top: 10px !important;
} */
