*, *:after, *:before {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a{
  text-decoration: none;
}

.floorplan-container {
  background-color: #0B5B75;
}

.view-restaurant-container {
  display: flex;
}

.checks-container {
  width: 40%;
  font-weight: bolder;

}
